#container{
display: flex;
}
#sidebar{
width: 250px;

}
#main{
width: 900px;    

    
}
#image{
    height: 300px;
    width: 300px;
}
#div{
    display: flex;
    margin-top: 20px;
}
#div1{
    margin-top: 20px;
    margin-left: 20px;
}
#div2{
    margin-top: 150px;
    margin-left: -610px;
}